name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2
      
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.14.0' 

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/jm-total-hub:express-latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_PRIVATE_KEY }}
        script: |
          docker image prune -a -f --filter "until=12h"
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          export DATABASE_URL=${{ secrets.DATABASE_URL }}
          export REDIS_PASSWORD=${{ secrets.REDIS_URL }}
          export REDIS_PASSWORD=${{ secrets.REDIS_PORT }}
          export REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
          cd JMTotalHub-DockerCompose
          sudo -E docker-compose pull express 
          sudo -E docker-compose up -d express  
          sudo -E docker-compose logs express
